{% extends "base.html" %}
{% block title %}
  О городской больнице
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        <strong>О больнице</strong>
      </div>
      <div class="card-body">
        <p>
          Наша больница была основана с целью предоставления высококачественной медицинской помощи всем членам нашего сообщества.
          Мы гордимся тем, что являемся важной частью системы здравоохранения и стремимся обеспечить доступ к
          медицинским услугам для каждого пациента.
        </p>
        <p>
          В нашей больнице работают терапевты и узкие специалисты, готовые принять вас в удобное время.
          Мы стремимся сделать процесс записи на приём максимально простым и доступным,
          а пребывание в больнице — комфортным.
        </p>
        <p>
          Мы стремимся к тому, чтобы каждый пациент получал заботу, основанную на уважении, достоинстве и профессионализме.
          На сайте вы можете ознакомиться с расписанием работы врачей,
          узнать о доступных специалистах и записаться на приём онлайн. Мы ценим ваше время и здоровье!
        </p>
        <p>
          <strong>Наша миссия</strong> -  обеспечивать высококачественное медицинское обслуживание,
          способствующее улучшению здоровья и благополучия населения.
          Мы постоянно совершенствуем свои навыки и внедряем новые технологии, чтобы оказывать медицинскую помощь на самом высоком уровне.
        </p>
      </div>
    </div>
  </div>
{% endblock %}